:root{
    --bcg-color: #332d2d;
    --primary-color: #bca56c;
    --bcg1-color:#193553f7;
    --border-radius: 8px;
    --secondary-color: #000000;
    --border-color: #000000;
   
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
body {
  height: 100vh;
  background:var(--bcg-color)
}
.wrapper h1{
    
  font-size: 26px;
  text-align: center;
  color: var(--secondary-color);
  margin-bottom: 24px;
  text-transform: uppercase;
}

.wrapper {
  background-color:var(--primary-color);
  padding: 2em 2em;
  position: absolute;
  width: 500px;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  border-radius: 15px;
  box-shadow: 0 1.5em 3em rgba(3, 21, 55, 0.3);
}
#placement {
  width: 100%;
  border: 2px solid #2c2b2b;
  padding: 0.5em 1em;
  font-size: 1em;
  outline: none;
  border-radius: 5px;
  background-color: #bdbab3;
}
.options {
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
select {
  appearance: none;
  width: 8em;
  padding: 0.45em 0.9em;
  font-size: 1.25em;
  letter-spacing: 0.5px;
  cursor: pointer;
  background-color:var(--bcg-color);
  border: none;
  color: #ffffff;
  background-image: url("arrow.png");
  background-repeat: no-repeat;
  background-size: 1.1em;
  background-position: 6em;
  outline: none;
  border-radius: 0.3em;
}
select::-ms-expand {
  display: none;
}
select option {
  background-color:var(--bcg1-color);
  color: #f8f8f8;
  letter-spacing: 0.06em;
  font-weight: 400;
  font-size: 1.12em;
}
.selected {
  display: none;
}
.color-inp {
  appearance: none;
  background-color: transparent;
  width: 150px;
  height: 50px;
  outline: none;
  border: none;
}
.color-inp::-webkit-color-swatch {
  border-radius: 0.3em;
  border: 0.18em solid #00796B;
}
.color-inp::-moz-color-swatch {
  border-radius: 0.3em;
  border: 0.18em solid #00796B;
}
.box {
  display: flex;
  align-items: center;
  flex-direction: column;
  
}
.box button,
.box a{
  font-size: 1em;
  padding: 0.8em 2em;
  border-radius: 0.5em;
  margin-top: 1em;
  width: 100%;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 4px;
  
}
.box button:disabled {
  background-color: var(--bcg-color);
  color: #fff;
  border: 2px solid var(--border-color);
  letter-spacing: 5px;
  font-weight: bold;
  letter-spacing: 4px;
  border: none;
  outline: none;

}
.box button {
  background-color: var(--bcg-color);
  color: #fff;
  border: 2px solid var(--bcg-color);
  
  
}
.box a {
  background-color: var(--bcg-color);
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  border: 0.18em solid var(--bcg-color);
  padding-left: 35%;
}
.container {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  background-color: #cccccc58;
  border-radius: 10px;
}

.hide {
  display: none;
}



@media (max-width:477px) {
  .wrapper {
      
      width: 400px;
     
  }
  select {
    
      width: 250px;
     
  }
  .color-inp1 {
      
      width: 150px;
      padding-left: 10px;
     
     
  }

 
  .box{
      display: flex;
      align-items: center;
      flex-direction: column;
      margin: 10px;
  }
  .box a {
      text-align: center;
  }
}

